body {
  padding-top: 60px;
  font-family: arial;
}
header {
  margin-bottom: 3em;
}
header a {
  color: black;
}
header a:hover {
  text-decoration: none;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
}
h3 {
  display: inline;
  font-size: 1.3em;
}
#extensions article {
  clear: both;
  margin-bottom: 4em;
  padding: 10px;
}
#extensions article:hover {
  background: #f1f1f1;
}
#extensions article .icon {
  float: left;
  width: 90px;
  margin-right: 2em;
  margin-top: 15px;
}
#extensions article .preview {
  float: left;
  width: 175px;
  margin-right: 1.5em;
  margin-bottom: 3em;
}
#extensions article .details {
  line-height: 1;
  margin: 10px 0 15px 0;
  display: inline-block;
}
#extensions article .details > p > strong {
  display: inline-block;
  width: 90px;
}
#upload input[type=file] {
  width: 500px;
}
#upload input[type=submit] {
  margin-top: 1em;
}
#upload .has-error {
  color: red !important;
}
footer {
  clear: both;
  margin-top: 3em;
}
