html,
body {
  height: 100%;
}
body {
  padding-top: 60px;
  font-family: arial;
}
a.btn:hover,
a.btn-sm:hover {
  text-decoration: none;
}
.container {
  max-width: 960px;
}
.container:first-child {
  min-height: 100%;
  overflow: auto;
}
main {
  overflow: auto;
  margin-bottom: 3em;
  padding-bottom: 50px;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
}
h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
#extensions {
  position: relative;
}
#extensions #searchform {
  width: 250px;
  float: right;
}
#extensions article {
  clear: both;
  padding: 10px;
  margin-top: 3em;
}
#extensions article > div {
  margin-left: 120px;
}
#extensions article .icon {
  float: left;
  width: 90px;
}
#extensions article .preview {
  float: left;
  width: 175px;
  margin-right: 2em;
  margin-bottom: 2em;
}
#extensions article .properties {
  margin-left: 200px !important;
}
#extensions article .properties .details {
  line-height: 1;
  margin: 10px 0 15px 0;
  display: inline-block;
}
#extensions article .properties .details > p > strong {
  display: inline-block;
  width: 130px;
}
#extensions article .properties .details ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
#extensions article .properties .details ul li {
  display: inline-block;
  margin-right: 1em;
}
#upload {
  max-width: 450px;
}
#upload input[type=file] {
  width: 100%;
}
#upload a[ng-click] {
  margin-top: 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
#upload .has-error {
  color: red !important;
}
footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid lightgray;
}
