<?xml version="1.0"?>
<configuration>

  <system.webServer>

    <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" cacheControlCustom="public" />

      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html;charset=utf-8" />

      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript" />

      <remove fileExtension=".vsix"/>
      <mimeMap fileExtension=".vsix" mimeType="application/octed-stream" />

      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by"/>
        <add name="Content-Security-Policy" value="object-src 'none';"/>
        <add name="Arr-Disable-Session-Affinity" value="True"/>
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="index.html">
          <match url="^(extension/|upload|author|guide/)"/>
          <action type="Rewrite" url="index.html"/>
        </rule>
        <rule name="VSIX paths">
          <match url="^(.+)/(.+\.vsix)$"/>
          <action type="Rewrite" url="{R:1}/extension.vsix"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>