<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="kpm-package-path" value="..\approot\packages" />
        <add key="bootstrapper-version" value="1.0.0-beta2" />
        <add key="kre-package-path" value="..\approot\packages" />
        <add key="kre-version" value="1.0.0-beta2" />
        <add key="kre-clr" value="CoreCLR" />
        <add key="kre-app-base" value="..\approot\src\ExtensionGallery" />
    </appSettings>

    <system.web>
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>

        <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
        <staticContent>
            <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge"/>

            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript" />

            <remove fileExtension=".vsix"/>
            <mimeMap fileExtension=".vsix" mimeType="application/octed-stream" />
        </staticContent>

        <rewrite>
            <rules>
                <rule name="index.html">
                    <match url="^(extension/|upload)"/>
                    <action type="Rewrite" url="index.html"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>