<?xml version="1.0"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>

        <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
        <staticContent>
            <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge"/>

            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
        </staticContent>

        <rewrite>
            <rules>
                <rule name="index.html">
                    <match url="^(extension/|upload)"/>
                    <action type="Rewrite" url="index.html"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>