@model IEnumerable<ExtensionGallery2.Models.Package>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Visual Studio Extension Nightly Builds</h1>
</div>

<div class="row" id="extensions">
    <div class="col-md-4">
    foo
    </div>
        <div class="col-md-8">
            @foreach (var package in Model)
            {
                @await Html.PartialAsync("Package", package)
            }
        </div>
    </div>