@footer-height: 50px;

html, body {
	height: 100%;
}

body {
	padding-top: 60px;
	font-family: arial;
}

a.btn:hover, a.btn-sm:hover {
	text-decoration: none;
}

.navbar-brand {
	background: url(/img/logo.png) no-repeat 14px center;
	padding-left: 40px;
}

.container {
	max-width: 960px;

	&:first-child {
		min-height: 100%;
		overflow: auto;
	}
}

main {
	overflow: auto;
	margin-bottom: 3em;
	padding-bottom: @footer-height;
}

h2 {
	font-size: 1.6em;
	font-weight: bold;
}

h3 {
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

#extensions {
	position: relative;

	#searchform {
		width: 250px;
		float: right;
	}

	article {
		clear: both;
		padding: 10px;
		margin-top: 3em;

		> div {
			margin-left: 120px;
		}

		.icon {
			float: left;
			width: 90px;
		}

		.preview {
			float: left;
			width: 175px;
			/*margin-right: 2em;*/
			margin-bottom: 2em;
		}

		.properties {
			margin-left: 200px !important;

			.details {
				line-height: 1;
				margin: 10px 0 15px 0;
				display: inline-block;

				p:first-child {
					margin-bottom: 2em;
				}

				> p > strong {
					display: inline-block;
					width: 130px;
				}

				ul {
					list-style: none;
					padding: 0;
					margin: 20px 0;

					li {
						display: inline-block;
						margin-right: 1em;
					}
				}
			}
		}
	}
}

#upload {
	max-width: 450px;
	padding-left: 5px;

	input[type=file] {
		width: 100%;
	}

	a[ng-click] {
		margin-top: 1em;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
	}

	.has-error {
		color: red !important;
	}
}

footer {
	position: relative;
	margin-top: -@footer-height;
	height: @footer-height;
	clear: both;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid lightgray;
}
