body {
    padding-top: 60px;
    font-family: arial;
}

header {
    margin-bottom: 3em;

    a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
    display: inline;
    font-size: 1.3em;
}

#extensions article {
    clear: both;
    margin-bottom: 4em;
	padding: 10px;

	&:hover{
		background: #f1f1f1;
	}

    .icon {
        float: left;
        width: 90px;
        margin-right: 2em;
		margin-top: 15px;
    }

    .preview {
        float: left;
        width: 175px;
        margin-right: 1.5em;
        margin-bottom: 3em;
    }

    .details {
        line-height: 1;
        margin: 10px 0 15px 0;
        display: inline-block;

        & > p > strong {
            display: inline-block;
            width: 90px;
        }
    }
}

#upload {

    input[type=url] {
        width: 500px;
    }

    .has-error {
        color: red !important;
    }
}

footer {
    clear: both;
    margin-top: 3em;
}
