<h1 class="page-header">Subscribe to feed</h1>

<p>
	Visual Studio is capable of subscribing to extension feeds, so you will be notified
	of any updates to extensions found in this gallery. You will only be notified of any updates to extensions that you already have installed.
</p>

<section>
	<h2>Choose the rigth feed</h2>
	<p>There are several feeds in this gallery you can subscribe to.</p>

	<h4>The main feed</h4>
	<p>
		By subscribing to the <a href="/feed/" target="_self">main feed</a> you will be notified by
		Visual Studio whenever any of the extensions in this gallery are updated. The feed
		contains all extensions available.
	</p>

	<h4>Feed per author</h4>
	<p>
		Each extension author has their own feed, so you can choose to subsribe to one or more
		authors' extensions.
	</p>

	<h4>Feed for individual extension</h4>
	<p>
		If you're only interested in getting updates to specific extensions, then you can subsribe
		to feeds for that one extension.
	</p>
</section>

<section>
	<h2>Setup</h2>
	<p>In Visual Studio go to <strong>Tools -> Options -> Environment -> Extensions and Updates</strong>.</p>
	<p><img src="/img/visual-studio-options-dialog.png" alt="Visual Studio options dialog" /></p>

	<p>Click the <strong>Add</strong> button and fill in the name and URL fields.</p>
	<p><strong>Name</strong>: Give it a name you like</p>
	<p><strong>URL</strong>: Could be the main feed <a href="/feed/" target="_self">http://vsixgallery.com/feed/</a></p>
	<p>And finally click the Apply button.</p>

	<p>
		That's it. You've now added the nightly feed to Visual Studio and updates will start to show up in
		<strong>Tools -> Extensions and Updates</strong> dialog
	</p>
</section>