
<h1 class="page-header">
	{{headline}}
	<a data-ng-href="{{feed}}" class="btn btn-default">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Feed
	</a>
</h1>

<div id="extensions">
	<div id="searchform" class="form-group">
		<label class="sr-only" for="search">Search</label>
		<div class="input-group">
			<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
			<input type="text" id="search" data-ng-model="query" placeholder="Search" class="form-control" />
		</div>
	</div>

	<article data-ng-repeat="package in packages | filter: packageSearch">
		<img class="icon" data-ng-src="{{package.Icon}}" alt="{{package.Name}}" />
		<div>
			<h3>
				<a data-ng-href="#/extension/{{package.ID}}">{{package.Name}}</a>
			</h3>

			<a data-ng-href="#/author/{{package.Author | lowercase | escape }}">{{package.Author}}</a>
			<p>{{package.Description}}</p>

			<a class="btn-sm btn-success" data-ng-href="{{package.DownloadUrl}}">
				<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download
			</a>

			<a data-ng-href="/feed/extension/{{package.ID}}" class="btn-sm btn-default">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Feed
			</a>
			<time datetime="{{package.DatePublished | date:'yyyy-MM-dd'}}">{{package.DatePublished | date:'&nbsp;MMM d. yyyy'}}</time>
		</div>
	</article>
</div>